{% extends 'base.html' %}
{% block conteudo %}
    <h3>Lista de Funcionários</h3>
    <hr>
    <form action="{%  url 'professor_list' %}" method="get" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" id="criterio" name= "criterio" value="{{ criterio }}" placeholder="Nome do Professor" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Turmas</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            {% for professor in professores %}
                <tr>
                    <td>{{ professor.nome }}</td>
                    <td>{{ professor.matricula }}</td>
                    <td>
                    {% for horario in horarios %}
                        {% if professor.nome == horario.professor.nome %}
                            <p><a href="{% url 'professor_detail' professor.pk %}">{{ horario }}</a></p>
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td><a href="{% url 'professor_update' professor.pk %}" class="btn btn-primary">Atualizar</a></td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>

    {% include 'utils/paginacao.html' %}
{% endblock %}