{% extends 'appsispac/base.html' %}
{% block conteudo %}

  <table class="table">
    <tr>
      <th>Sala</th>
      <th>Disciplina</th>
      <th>Situação</th>
      <th>Operação</th>
    </tr>
    {% for frequencia in frequencias %}
      <tr>
        <td>{{ frequencia.sala }}</td>
        <td>{{ frequencia.disciplina }}</td>
        <td>{{ frequencia.situacao }}</td>
        <td><a data-toggle="modal" data-target="#myModal" class="btn btn-success">Registrar</a></td>
        {{ frequencias_update}}
        <script>
          var x = {{ frequencia.pk }}
          alert(x)
        </script>
        <!-- Falta href="{% url 'frequencias_update' frequencia.pk %}" na tag, mas ao adicionar não funciona-->
      <tr>
    {% endfor %}
  </table>

  {% include "appsispac/frequencias_form.html" %}

{% endblock %}
